:root{
  --ui-font: "Nunito", "Rubik", "Quicksand", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.1;
}

body {
    display: grid;
    grid-template-rows: 150px 1fr 0.1fr;
    background-color: #101828;
    background-image: url("assets/tic-tac-toe.svg");
    background-repeat: repeat;
    background-size: 100px;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 20px;
    
}

.header-container > * {
    background-color: #0d131f;
    box-shadow: 0 0 6px #fb64b6;
    border-radius: 20px;
    padding: 20px;

    font-family: "Rubik";
    font-size: 3rem;
    color: #fb64b6;
}

.player-info *{
    font-family: "Rubik";
    font-size: 1rem;
    font-weight: bold;
}

.player-one-score, 
.player-two-score {
    margin-top: 5px;
}

.gameboard-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.gameboard {
    margin-top: 20px;
    display: grid;
    width: 70vh;
    height: 70vh;

    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A2E;
    border-radius: 15px;
    box-shadow: 0 0 2px #FF4D9D;
}

.grid-square:hover {
    box-shadow: 0 0 6px #FF4D9D;
    background-color: #2a2a3f;
}

#winner-box, 
.name-input-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.name-input-box {
    cursor: auto;
}

.winner-content {
    font-family: "Rubik";
    font-weight: 900;
    font-size: 6rem;
    color: #f55b03;
    text-align: center;
    text-shadow: 0 0 10px #ee0606;
}

div.hidden#winner-box, 
div.hidden.name-input-box {
  display: none;
}

.hidden {
    display: none;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset, 
#submit-player-details {
    all: unset;
    cursor: pointer;
}

.reset, 
.player-details, 
#submit-player-details {
    margin-top: 20px;
    background-color: #0d131f;
    box-shadow: 0 0 6px #e23703;
    border-radius: 10px;
    padding: 10px;

    font-family: "Rubik";
    font-size: 1rem;
    color: #ff5f03;
    text-shadow: 0 0 3px red;
}

.reset:hover, 
#submit-player-details {
    background-color: #101828;
}

.player-details {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    height: 280px;
    width: 400px;

    font-size: 1.8rem;
    border-radius: 10px;
}

input {
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 5px;
    border: none;
    box-shadow: none;

    background-color: #1A1A2E;

    font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

input {
    box-shadow: 0 0 6px #e23703;
}

.player-details > * {
    margin-top: 20px;
}

#submit-player-details {
    box-shadow: 0 0 6px #21f10e;
    color: #195813;
    text-shadow: 0 0 1px #21f10e;
}