:root{
  --ui-font: "Nunito", "Rubik", "Quicksand", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.1;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 150px 1fr 0.5fr;
    background-color: #101828;
    background-image: url("assets/tic-tac-toe.svg");
    background-repeat: repeat;
    background-size: 100px;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 20px;
    
}

.header-container > * {
    background-color: #0d131f;
    box-shadow: 0 0 6px #fb64b6;
    border-radius: 20px;
    padding: 20px;

    font-family: "Rubik";
    font-size: 3rem;
    color: #fb64b6;
}

.player-info *{
    font-family: "Rubik";
    font-size: 1rem;
    font-weight: bold;
}

.player-one-score, 
.player-two-score {
    margin-top: 5px;
}

.gameboard-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.gameboard {
    margin-top: 20px;
    display: grid;
    width: 70vh;
    height: 70vh;

    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A2E;
    border-radius: 15px;
    box-shadow: 0 0 2px #FF4D9D;
}

.grid-square:hover {
    box-shadow: 0 0 6px #FF4D9D;
    background-color: #2a2a3f;
}

#winner-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.winner-content {
    font-family: "Rubik";
    font-weight: 900;
    font-size: 6rem;
    color: #f55b03;
    text-align: center;
    text-shadow: 0 0 10px #ee0606;
}

div.hidden#winner-box {
  display: none;
}